
{% extends 'base.html.twig' %}

{% block body %}
<div>
<div class="card text-white bg-danger mb-3" >
  <div class="card-header"></div>
  <div class="card-body">
    <h4 class="card-title">Error 404</h4>
    <p class="card-text"><strong>Oh zut !</strong> Le lien auquel vous avez tenté d'accéder n'existe pas !</p>
  </div>
</div>
{% endblock %}
