
{% extends 'base.html.twig' %}

{% block body %}
<h1> Vous êtes en galère et recherchez un professeur? </h1>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda pariatur deleniti magni doloribus maiores ea suscipit, dolorem, similique dolorum quisquam culpa. Ullam tenetur praesentium quaerat accusantium labore, quos totam fuga.
Ullam earum, optio, ducimus dolorum libero incidunt minus fugiat alias, iure facere blanditiis cupiditate inventore veritatis quam! Iure culpa reiciendis veritatis sapiente similique, dicta voluptatibus ex temporibus at, quisquam itaque.</div>
{% endblock %}
