{% extends 'base.html.twig' %}

{% block title %}20sur20!{% endblock %}

{% block body %}

<div><h1> Apprendre et enseigner </h1></div>
<br><br>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-4">
    <img src="/images/image7.jpg" class="col-sm-12 col-md-12 col-lg-12" alt="">
    <hr>
    <div class="container">
        <div class="card text-white bg-primary mb-3" ">
            <div class="card-header"></div>
            <div class="card-body">
              <h4 class="card-title">Pédagogie</h4>
              <p class="card-text">Trouvez votre âme enseignante dans les matières de votre choix.</p>
            </div>
          </div>
    </div>
    <br><br>

  </div>
  <div class="col-lg-4">
  <img src="/images/image2.jpg" class="col-sm-12 col-md-12  col-lg-12" alt="">
    <hr>

    <div class="container">
        <div class="card text-white bg-primary mb-3" ">
            <div class="card-header"></div>
            <div class="card-body">
              <h4 class="card-title">Réussite</h4>
              <p class="card-text">Devenez major de promo en quelques clics. Les mauvaises notes, c'est terminé.</p>
            </div>
          </div>
    </div>
  <br><br>

  </div>

  <div class="col-lg-4">
  <img src="/images/image3.jpg" class="col-sm-12 col-md-12 col-lg-12" alt="">
    <hr>
    <div class="container">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header"></div>
            <div class="card-body">
              <h4 class="card-title">Excellence</h4>
              <p class="card-text">Transmettez votre savoir, faites briller vos élèves.</p>
            </div>
          </div>
    </div>
  <br><br>

  </div>

</div>
<div class="example-wrapper">

</div>
{% endblock %}
